@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500,600,700|Roboto:300,400,500,600,700');

/* -------------------------------------------------- Core/Sitewide CSS */

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 56px;
    color: #fafafa;
    background: url("/static/images/bg-side.jpg") no-repeat center center fixed;
    background-size: cover;
}

.condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

#core {
	min-height: calc(100vh - 56px);
	padding-top: 56px;
	padding-bottom: 56px;
}

.overlay {
	background: rgba(0, 0, 0, 0.75);
	height: 100%;
    min-height: 100vh;
    width: 100%;
    min-width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.page-header-row {
    margin: 20px 0px;
}

/* -------------------------------------------------- Navbar */

nav {
    box-shadow: 0px 0px 10px #333;
}

.navbar-dark .navbar-brand {
    font-weight: 700;
    transition: all 0.25s ease-in-out;
}

.navbar-dark .navbar-brand:hover {
    transform: scale(1.15);
    transition: all 0.25s ease-in-out;
}

.dropdown-menu.show, .dropdown-menu {
    background-color: #17a2b8;
    border: none;
}

.dropdown-item {
    background-color: #17a2b8;
    color: rgb(128, 128, 128);
    color: rgba(255, 255, 255, 0.50);
    transition: all 0.15s ease-in-out;
}

.dropdown-item:hover {
    background-color: #168ea1;
    color: rgb(192, 192, 192);
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.15s ease-in-out;
}

/* -------------------------------------------------- DB-item Lists */

.exercise-name-row,
.routine-name-row,
.workout-name-row {
    background: rgb(23, 162, 184);
    background: rgba(23, 162, 184, .50);
    border-radius: 5px 5px 0px 0px;
    padding-top: 10px;
}

.exercise-name,
.routine-name,
.workout-name {
    font-weight: 500;
}

.exercise-detail-row,
.routine-detail-row,
.workout-detail-row {
    background: rgba(23, 162, 184, .70);
    border-radius: 0px 0px 5px 5px;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.exercise-detail-row p,
.routine-detail-row p,
.workout-detail-row p {
    margin: 0;
}

.exercise-url a {
    text-decoration: none;
    color: rgb(128, 128, 128);
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease-in-out;
}

.exercise-url a:hover {
    text-decoration: none;
    color: #fff;
    transition: all 0.25s ease-in-out;
}

.exercise-reps-sets,
.routine-length,
.workout-exercise-list {
    color: cyan;
    font-style: italic;
}

.workout-exercise-list a {
    text-decoration: none;
    color: rgb(128, 128, 128);
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease-in-out;
}

.workout-exercise-list a:hover {
    text-decoration: none;
    color: #fff;
    transition: all 0.25s ease-in-out;
}

.exercise-links {
    display: inline-block;
    padding: 5px 15px;
}

.dbitem-buttons a {
    margin: 0px 5px;
}

/* -------------------------------------------------- Routine Builder Form */

.form-add-row {
    min-width: 420px;
}

.workout-form-row {
    padding: 5px 0px;
}

.workout-detail-button {
    min-width: 75px;
}

.workout-detail-col-wrapper {
    padding: 0;
}

.workout-detail-ecat {
    display: inline-block;
    background: #0e535e;
    padding: 2px 4px;
    margin: 2px 1px;
    border-radius: 5px;
}

.workout-form-details {
    display: none;
    background: rgba(23, 162, 184, 0.50);
    border-radius: 5px;
    margin: 10px 0px;
}

.form-workout-name-row {
    padding: 10px 10px 0px 10px;
}

.form-workout-detail-row {
    margin: 10px 0px;
}

.form-workout-header-row {
    color: cyan;
    padding: 0px 5px;
    font-weight: 500;
}

.form-workout-exercise-list-wrapper {
    padding: 10px 10px 10px 10px;
    background: rgb(23, 162, 184);
    background: rgba(23, 162, 184, 0.50);
    border-radius: 0px 0px 5px 5px;
}

/* -------------------------------------------------- Footer */

.footer {
    color: rgb(128, 128, 128);
    color: rgba(255,255,255, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    line-height: 56px;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 10px #333;
}

footer .lead {
    padding: 0;
    margin: 0;
}

footer .lead a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(192, 192, 192);
    color: rgba(255,255,255, 0.75);
    transition: all 0.25s ease-in-out;
}

footer .lead a:hover {
    color: #fff;
    transition: all 0.25s ease-in-out;
}

/* -------------------------------------------------- Modals */
.modal-content {
    background: #000;
    border: none;
    box-shadow: 0px 0px 10px #111;
}

.modal-header {
    color: #fff;
    background: rgb(23, 162, 184);
    background: rgba(23, 162, 184, .50);
    border-bottom: none;
}

.modal-body {
    color: #fff;
    background: rgb(23, 162, 184);
    background: rgba(23, 162, 184, .70);
}

.modal-footer {
    background: rgb(23, 162, 184);
    background: rgba(23, 162, 184, .70);
    border-top: none;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.modal-header .close {
    text-shadow: none;
    color: #fff;
    transition: all 0.25s ease-in-out;
}


/* -------------------------------------------------- Media Queries */

@media(min-width: 768px) {
    .dropdown-menu-right {
        box-shadow: 0px -10px 0px #17a2b8, 0px 2px 10px #333;
        border-radius: 0px 0px .25rem .25rem;
    }
}