{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1 class="display-3">Add an Exercise</h1>
    </div>
</div>
<div class="row form-add-row">
    <div class="col">
        <form method="post" action="{{ url_for('insert_exercise') }}">
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" name="exercise_name" placeholder="Exercise Name" required />
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" type="number" name="exercise_sets" min="1" max="100" placeholder="Number of Sets (1-100)" required />
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" type="number" name="exercise_reps" min="1" max="100" placeholder="Number of Reps (1-100)" required />
            </div>
            <div class="form-group">
                <label for="exercise_workout_type"><p>Exercise Type/Muscle Group:</p></label>
                <select class="form-control form-control-lg" type="text" id="exercise_workout_type" name="exercise_workout_type" placeholder="Muscle Group" required />
                    {% for workout in workouts %}
                        <option value="{{ workout.workout_type_name }}">{{ workout.workout_type_name | title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" name="exercise_url" placeholder="Video URL (Optional)" required />
            </div>
            <button class="btn btn-info btn-lg form-control form-control-lg">Add Exercise!</button>
        </form>
    </div>
</div>
{% endblock %}