{% extends 'base.html' %}

{% block content %}
<div class="row page-header-row text-center">
    <div class="col-12">
        <h1 class="display-3">Build a Workout</h1>
    </div>
</div>
<div class="row form-add-row">
    <div class="col">
        <form method="post" action="{{ url_for('insert_workout') }}">
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" name="workout_name" placeholder="Workout Name" required />
            </div>
            <div class="form-group">
                <label for="exercise_list"><p class="h5">Choose Exercises:</p></label>
                <select multiple class="form-control" id="exercise_list" name="exercise_list" size="10" required />
                    {% for category in exercise_categories %}
                        <optgroup label="{{ category.category_name | title }}">
                            {% for exercise in exercises %}
                                {% if category.category_name in exercise.categories %}
                                    <option value="{{ exercise.exercise_name }}">{{ exercise.exercise_name | title }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-info btn-lg form-control form-control-lg">Build It!</button>
        </form>
    </div>
</div>
{% endblock %}