{% extends 'base.html' %}

{% block content %}
<div class="row page-header-row text-center">
    <div class="col-12">
        <h1 class="display-3">Modify Routine</h1>
    </div>
</div>
<div class="row form-add-row">
    <div class="col">
        <form method="post" action="{{ url_for('update_routine', routine_id=routine._id) }}">
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" name="routine_name" placeholder="Routine Name" value="{{ routine.routine_name }}" required />
            </div>
            <div class="form-group">
                <p class="h5">Choose Workouts:<br><small class="text-muted">(Current Workouts are Checked)</small></p>
                {% for workout in workouts %}
                    <div class="form-row workout-form-row">
                        <div class="form-group col-9 col-md-3 my-auto">
                            <div class="custom-control custom-checkbox">
                                {% if workout.workout_name in routine.workout_list %}
                                    <input type="checkbox" class="custom-control-input" id="{{ workout.workout_name }}" value="{{ workout.workout_name }}" name="workout_list" checked>
                                {% else %}
                                    <input type="checkbox" class="custom-control-input" id="{{ workout.workout_name }}" value="{{ workout.workout_name }}" name="workout_list">
                                {% endif  %}
                                <label class="custom-control-label" for="{{ workout.workout_name }}">{{ workout.workout_name }}</label>
                            </div>
                        </div>
                        <div class="col-3 col-md-9 my-auto">
                            <a class="btn btn-sm btn-info workout-detail-button">Details</a>
                        </div>
                    </div>
                    <div class="workout-form-details">
                        <div class="workout-detail-col-wrapper">
                            <div class="form-row text-center text-md-left form-workout-name-row">
                                <div class="col-12">
                                    <h4 class="workout-name">{{ workout.workout_name }} <small class="text-muted">Details</small></h4>
                                </div>
                            </div>
                            <div class="form-workout-exercise-list-wrapper">
                                <div class="form-row text-center text-md-left form-workout-header-row">
                                    <div class="col-3 col-md-5">Name</div>
                                    <div class="col-3 col-md-1">Sets</div>
                                    <div class="col-3 col-md-1">Reps</div>
                                    <div class="col-3 col-md-3">Categories</div>
                                    <div class="col-12 col-md-2 d-none d-md-block">Video</div>
                                </div>
                                {% for workout_exercise_name in workout.exercise_list %}
                                    {% for exercise in exercises %}
                                        {% if workout_exercise_name == exercise.exercise_name %}
                                        <div class="form-row text-center text-md-left form-workout-detail-row">
                                            <div class="col-3 col-md-5 my-auto">{{ workout_exercise_name }}</div>
                                            <div class="col-3 col-md-1 my-auto">{{ exercise.sets }}</div>
                                            <div class="col-3 col-md-1 my-auto">{{ exercise.reps }}</div>
                                            <div class="col-3 col-md-3 my-auto">
                                                {% for ecat in exercise.categories %}
                                                    <p class="workout-detail-ecat">{{ ecat | title }}</p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12 col-md-2 my-auto"><a href="{{ exercise.exercise_url }}" class="btn btn-block btn-sm btn-info">Video</a></div>
                                        </div>
                                        <hr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <p class="h5">Total Routine Length:<br><small class="text-muted">(5-180 Minutes)</small></p>
                <input class="form-control form-control-lg" type="number" name="routine_length" min="5" max="180" placeholder="Routine Length" value="{{ routine.routine_length }}" required>
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" type="number" name="routine_intensity" min="1" max="10" placeholder="Routine Intensity (1-10)" value="{{ routine.routine_intensity }}" required>
            </div>
            <button class="btn btn-info btn-lg form-control form-control-lg">Update!</button>
        </form>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.workout-detail-button').click(function() {
        var detailsDiv = $(this).closest('.workout-form-row').next('.workout-form-details');
        detailsDiv.slideToggle(250);
        
        if($(this).text() == 'Details') {
            $(this).text('Close');
            $(this).toggleClass('btn-info');
            $(this).toggleClass('btn-danger');
        } else {
            $(this).text('Details');
            $(this).toggleClass('btn-info');
            $(this).toggleClass('btn-danger');
        };
    });
</script>
{% endblock %}