<nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
    <a class="navbar-brand" href="{{ url_for('home') }}">Fitness Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link {% if request.path == '/' or request.path == '/home/' or request.path == '/home' %}active{% endif %}" href="{{ url_for('home') }}">Home</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if request.path == '/routines' or request.path == '/routines/' %}active{% endif %}" href="" id="routinesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Routines</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="routinesDropdown">
                    <a class="dropdown-item" href="{{ url_for('get_routines') }}">Explore</a>
                    <a class="dropdown-item" href="">Build</a>
                    <a class="dropdown-item" href="">Edit</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if request.path == '/workouts' or request.path == '/workouts/' %}active{% endif %}" href="" id="workoutsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Workouts</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="workoutsDropdown">
                    <a class="dropdown-item" href="{{ url_for('get_workouts') }}">Explore</a>
                    <a class="dropdown-item" href="">Build</a>
                    <a class="dropdown-item" href="">Edit</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if request.path == '/exercises' or request.path == '/exercises/' %}active{% endif %}" href="" id="exercisesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Exercises</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="exercisesDropdown">
                    <a class="dropdown-item" href="{{ url_for('get_exercises') }}">Explore</a>
                    <a class="dropdown-item" href="{{ url_for('add_exercise') }}">Add</a>
                    <a class="dropdown-item" href="">Edit</a>
                </div>
            </li>
        </ul>
    </div>
</nav>