<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fitness Manager - Home</title>
</head>
<body>
    <h1>Routines:</h1>
    {% for routine in routines %}
        <h2>{{ routine.routine_name }}</h2>
        <h3>Workouts:</h3>
        {% for workout in routine.workouts %}
            <h4>{{ workout.workout_type_name }}:</h4>
            {% for exercise in workout.exercises %}
                <p>{{ exercise.exercise_name }}</p>
            {% endfor %}
        {% endfor %}
        
    {% endfor %}
</body>
</html>